*,
*::before,
*::after {
    box-sizing: border-box;
}

* {
    margin: 0;
    padding: 0;
}

html {
    color-scheme: dark light;
}

body {
    min-height: 100vh;
    position: relative;
}

img,
svg,
picture,
video {
    display: block;
}

header {
    background-color: #2a2a2a;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 16px 20px 16px 9px;
    box-shadow: 0px 1px 4px 0px #ffffff40;
}
header nav ul li {
    display: none;
}

.header-title {
    display: flex;
    align-items: center;
    gap: 2.96px;
}

.header-title span:nth-child(1),.header-title span:nth-child(3) {

    color: #f8f8f8;
font-size: 8.26px;
font-weight: 600;
line-height: 13.7px;
letter-spacing: 1.8553520441055298px;
text-align: center;


}

.header-title span:nth-child(2) {
    background-color: #ffffff;
    color: #2a2a2a;
padding: 0.03px 1.25px 0.03px 1.25px;
font-size: 8.26px;
font-weight: 600;
line-height: 13.7px;
letter-spacing: 1.8553520441055298px;
text-align: center;
}

.main-container {
    background-color: #0f0f0f;
    width: 100%;
}

main,
.section-container {
    padding: 11px 0px;
     width: 90%;
    margin: 0 auto;
}

main h2 {
    font-size: 24px;
    line-height: 29px;
    font-weight: 500;
    color: #d9d9d9;
}

.question-filter-box-flex {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.question-filter-box .question-filter-box-flex h3 {
    font-size: 16px;
    line-height: 22.6px;
    text-align: left;
    color: #d9d9d9;
    margin-top: 11px;
}

.question-filter-box .question-filter-box-flex button {
    padding: 4px 11px 4px 7px;
    border-radius: 6px;
    background-color: #d9d9d9;
    color: #2a2a2a;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 0 8px;
}

.question-filter-box .question-filter-box-flex button p {
    font-size: 10px;
    font-weight: 600;
    line-height: 20px;
    text-align: center;
}

.question-filter-box .option-container {
    margin-top: 11px;
}
.option-container .box {
    background: #d9d9d9;
    position: relative;
    margin-bottom: 3px;
    height: 43px;
    padding: 6px 22px 6px 22px;
}
.option-container .box .icon {
    font-size: 12px;
    font-weight: 400;
    line-height: 18px;
    text-align: center;
}

.option-container .box .box-svg {
    position: absolute;
    width: 11px;
    height: 5px;
    top: 19px;
    right: 20px;
}

.option-container .box .icon {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    height: 31px;
}

.option-container .box .icon .bar {
    display: flex;
    flex-direction: column;
    gap: 3px;
}

.option-container .box .icon .bar .bar-line {
    background-color: #2a2a2a;
    border-radius: 10px;
}

.option-container .box .icon .bar .bar-line:nth-child(1) {
    width: 15.06px;
    height: 1.72px;
}

.option-container .box .icon .bar .bar-line:nth-child(2) {
    width: 10.25px;
    height: 1.72px;
}

.option-container .box .icon .bar .bar-line:nth-child(3) {
    width: 5.4px;
    height: 1.72px;
}

hr {
    border: 0.4px solid #d9d9d9;
    margin: 10px 0;
}

.question-container {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.question-cards {
    padding: 8px 16px 8px 16px;
    border-radius: 6px;
    border: 0px 0px 0.4px 0px;
    background: #f8f8f8;
}

.question-cards .first-row {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 7px;
}

.first-row h4 {
    font-size: 10px;
    font-weight: 400;
    line-height: 15px;
    text-align: left;
    color: #0f0f0f;
}

.first-row .category {
    display: flex;
    gap: 5px;
    align-items: center;
}

.first-row .category p {
    font-size: 12px;
    font-weight: 400;
    line-height: 18px;
    text-align: left;
    color: #363636;
}

.second-row {
    margin-bottom: 7px;
}

.second-row p {
    font-size: 16px;
    font-weight: 400;
    line-height: 19px;
    text-align: left;
    color: #0f0f0f;
}

.role-level {
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: #2a2a2a;
    margin-top: 7px;
}

.role-level .role {
    display: flex;
    gap: 11px;
}

.role button {
    border-radius: 6px;
    background: #dbefff;
    font-size: 12px;
    font-weight: 600;
    line-height: 19.21px;
    padding: 2px 10px;
    border: none;
}

.role-level .level {
    border-radius: 6px;
    background: #98fd75;
    font-size: 10px;
    font-weight: 600;
    line-height: 10px;
    padding: 5px 10px;
    border: none;
}

.third-row,
.question-third-row {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.third-row .flex,
.question-third-row .flex {
    display: flex;
    align-items: center;
    gap: 5px;
}

.third-row .flex p {
    font-size: 12px;
    font-weight: 400;
    line-height: 18px;
    color: #3bca09;
}

.third-row .flex:nth-child(2) p {
    font-size: 12px;
    font-weight: 400;
    line-height: 18px;
    color: #0f0f0f;
}

.section {
    padding-top: 20px;
    display: none;
}

.section-container .back-to-questions {
    display: flex;
    align-items: center;
    gap: 20px;
}

.back-to-questions p {
    font-size: 24px;
    font-weight: 500;
    line-height: 38px;
    color: #f8f8f8;
}

.section-question-frame {
    width: 66.5%;
    padding: 16px 32px 16px 32px;
    border-radius: 6px;
    background: #f8f8f8;
    box-shadow: 8px 8px 25px 0px #00000080;
    border: 0.4px solid #717171;
    margin: 30px auto 0 auto;
}

.question-frame-margin{
margin: 0px auto 20px auto;
}

.section-question-frame .question-first-row {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.section-question-frame .question-first-row .question-row {
    display: flex;
    gap: 18px;
}

.section-question-frame .question-first-row button {
    background: #a9d9ff;
    padding: 8px 16px 8px 16px;
    border-radius: 6px;
    border: none;
    font-size: 20px;
    font-weight: 500;
    line-height: 24.2px;
    color: #2a2a2a;
}

.section-question-frame .question-first-row .category {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.section-question-frame .question-first-row .category p {
    font-size: 18px;
    font-weight: 500;
    line-height: 27px;
}

.section-question-frame .question-first-row,
.section-question-frame .question-second-row {
    margin-bottom: 8px;
}

.section-question-frame .question-second-row p {
    color: #0f0f0f;
}

.section-question-frame .question-second-row p:nth-child(1) {
    font-size: 20px;
    font-weight: 500;
    line-height: 30px;
}

.section-question-frame .question-second-row p:nth-child(2) {
    font-size: 18px;
    font-weight: 400;
    line-height: 27px;
    margin-top: 10px;
}

.question-third-row .flex:nth-child(1) p,
.question-third-row .flex:nth-child(2) p {
    font-size: 16px;
    font-weight: 500;
    line-height: 24px;
    color: #2a2a2a;
}

.section-answer-frame {
    margin: 0px auto 0 auto;
    width: 65.5%;
}

.answer-container-flex{
 display: flex;
 flex-direction: column;

}

 .answers-sortby {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    margin: 20px auto;
}

.answer-sortby-order{
    order: -1;
    margin: 0px auto 20px auto;
}



 .answers-sortby p {
    font-size: 24px;
    font-weight: 700;
    line-height: 36px;
    color: #f8f8f8;
}

 .answers-sortby label {
    display: flex;
    align-items: center;
    gap: 10px;
    position: relative;
}

 .answers-sortby label p {
    font-size: 18px;
    font-weight: 500;
    line-height: 21.78px;
    text-align: left;
    color: #f8f8f8;
}

 .answers-sortby label select {
    padding: 8px 40px 8px 16px;
    border-radius: 6px;
    font-size: 18px;
    font-weight: 500;
    line-height: 27px;
    color: #2a2a2a;
    -moz-appearance: none;
    -webkit-appearance: none;
    appearance: none;
}

 .answers-sortby label .down-arrow {
    position: absolute;
    top: 19px;
    right: 12px;
}

.user-answer-frame {
    padding: 16px 24px 16px 24px;
    border-radius: 6px;
    border: 1px solid #979595;
    background: #dee7ff;
}

.user-answer-frame .user {
    color: #0f0f0f;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.user-answer-frame .user .user-profile {
    display: flex;
    gap: 16px;
}

.user-answer-frame .user .user-profile .user-info h3 {
    margin-bottom: 6px;
    font-size: 20px;
    font-weight: 700;
    line-height: 30px;
}

.user-answer-frame .user .user-profile .user-info h3 span {
    font-weight: 500;
}

.user-answer-frame .user .user-profile .user-info p {
    font-size: 18px;
    font-weight: 500;
    line-height: 27px;
}

.user-answer-frame .user .edit {
    display: flex;
    align-items: center;
    gap: 16px;
}

.user-answer-frame .user .edit p {
    font-size: 20px;
    font-weight: 500;
    line-height: 30px;
}

.user-answer-frame .user-answer {
    font-size: 18px;
    font-weight: 500;
    line-height: 27px;
    margin: 18px 0;
    color: #0f0f0f;
}

.user-answer-frame .user-answer span:nth-child(1) {
    color: #979595;
}

.user-answer-frame .user-answer span:nth-child(2) {
    font-weight: 700;
    line-height: 30px;
}

.user-answer-frame .comment-frame {
    display: flex;
    width: 90%;
    margin: 0 auto;
}

.user-answer-frame .comment-frame .upvote {
    color: #0f0f0f;
    display: flex;
    align-items: center;
    gap: 10px;
    margin-right: 10px;
}

.user-answer-frame .comment-frame .upvote p {
    font-size: 20px;
    font-weight: 500;
    line-height: 30px;
}

.user-answer-frame .comment-frame .comment-box {
    display: flex;
    align-items: center;
    gap: 10px;
    flex-grow: 1;
}

.user-answer-frame .comment-frame .comment-box input {
    border: 1px solid #0f0f0f;
    padding: 7px;
    border-radius: 6px;
    font-size: 16px;
    font-weight: 500;
    line-height: 24px;
    background: transparent;
    flex-grow: 1;
}

.user-answer-frame .comment-frame .comment-box input::placeholder {
    color: #979595;
}

.user-answer-frame .comment-frame .comment-box button {
    padding: 8px 16px 8px 16px;
    border-radius: 6px;
    background: #f5f5f580;
    border: 1px solid #000000;
    font-size: 18px;
    font-weight: 500;
    line-height: 18px;
    color: #00000080;
}

.overlay {
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0.7;
    background-color: #000000;
    z-index: 99;
    height: 100%;
    width: 100%;
}

.fab-messages{
    display: flex;
    flex-direction: column;
    align-items: end;
    position: relative;
}

.fab-messages p{
font-size: 12px;
font-weight: 600;
line-height: 18px;
text-align: center;
color: #0F0F0F;
background: #F8F8F8;
padding: 10px;
margin-bottom: 20px;
border-radius: 6px;
position: fixed;
bottom: 70px;
width: 280px;
}

.fab-messages p::after{
    content: '';
    position: absolute;
    bottom: -1px;
    right: 15px;
margin-top:-6px;
  margin-left:-5px;
  border-left: 12px solid #F8F8F8;
  border-right: 12px solid transparent;
  border-bottom: 12px solid transparent;
  transform:rotate(224deg);
}

.fab-mobile {
    /* position: absolute;
    bottom: 24px;
    right: 24px;
    z-index: 100; */
    border-radius: 50%;
    width: 48px;
    height: 48px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border: none;
}

.fab-mobile-bgcolor-open {
    background: #0f0f0f;
}

.fab-mobile-bgcolor-close,
.fab-mobile-bgcolor-option {
    background: #f8f8f8;
}

.option-list,
.close {
    /* position: absolute; */
    z-index: 100;
    gap: 15px;
}

.option-list-float, .close-float{
 position: fixed;
 right: 24px;
 bottom: 24px;
}

.option-list-unfloat, .close-unfloat{
 position: static;
 /* right: 24px;
 bottom: 24px; */
}

.option-list .flex,
.close .flex {
    display: flex;
    gap: 15px;
    align-items: center;
    justify-content: right;
}

.smart-animate-option-list {
    transform: translateY(0px);
    opacity: 1;
    visibility: visible;
    transition: all 300ms ease-in-out;
}

.reverse-smart-animate-option-list {
    transform: translateY(8px);
    opacity: 0;
    visibility: hidden;
    transition: all 300ms ease-in-out;
}

.option-list .flex p,
.close .flex p {
    padding: 8px 12px 8px 12px;
    border-radius: 4px;
    box-shadow: -4px 2px 8px 0px #0000003d;
    font-size: 16px;
    font-weight: 500;
    line-height: 16px;
    background: #f8f8f8;
}

.option-list .flex button,
.close .flex button {
    border-radius: 24px;
    border: none;
    width: 48px;
    height: 48px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.fab-parent{
position: absolute;
    bottom: 0%;
    right: 0%;
    left: 0px;
    z-index: 100;
}

.fab-desktop-svg{
        display: none;
    }

.fab-parent .rounded-outline{
    outline: 2px solid #F8F8F8F8;
    outline-offset: 3px;
}

form {
    padding: 24px 12px 24px 12px;
    border-radius: 20px 20px 0px 0px;
    background: #f8f8f8;
    /* position: absolute;
    bottom: 0px;
    right: 0px;
    left: 0px;
    z-index: 100; */
    transition: all 300ms ease-in-out;
}

.form-show{
transform: translateY(0%);
}

.form-close{
transform: translateY(100%);
display: none;
}

form h2 {
    font-size: 18px;
    font-weight: 600;
    line-height: 21.6px;
    text-align: center;
    padding: 0 20px;
    color: #4d4d4d;
}

form h2 span {
    font-weight: bolder;
    color: #0f0f0f;
}

form hr {
    height: 1px;
    border: 1px;
    border: 1px solid #cccccc;
}

form .form-container {
    margin-top: 24px;
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.form-container .flex {
    display: flex;
    flex-direction: column;
    gap: 5px;
    position: relative;
}

.form-container .flex label {
    display: flex;
    align-items: center;
    gap: 5px;
    color: #4d4d4d;
}

.form-container .flex select {
    padding: 10px 12px 10px 12px;
    border-radius: 4px;
    border: 1px;
    background: #e0e0e0;
    border: 1px solid #cccccc;
    font-size: 16px;
    font-weight: 500;
    line-height: 16px;
    color: #333333;
}
.form-container .flex select option{
padding: 18px 16px 18px 16px;
background: #E0E0E0;
font-weight: 400;
color: #333333;
}



.form-container .flex textarea {
    padding: 12px;
    border-radius: 4px;
    border: 1px solid #cccccc;
    background: #e0e0e0;
    height: 180px;
    resize: none;
    color: #333333;
    font-size: 16px;
    font-weight: 400;
    line-height: 20.8px;
}

.form-container .flex .attach {
    padding: 4px 10px 4px 4px;
    border-radius: 4px;
    background: #c7c7c7;
    font-size: 16px;
    font-weight: 500;
    line-height: 16px;
    display: flex;
    gap: 4px;
    align-items: center;
    color: #333333;
    position: absolute;
    top: 160px;
    left: 10px;
    border: none;
}

form .form-container button {
    padding: 10px 20px 10px 20px;
    border-radius: 4px;
    margin-top: 15px;
    align-self: flex-end;
    background: #0f0f0f;
    border: none;
    color: #f8f8f8;
    font-size: 18px;
    font-weight: 600;
    line-height: 18px;
}

form .form-container button:disabled {
    background: grey;
    opacity: 0.6;
}

input[type="checkbox"]{
    accent-color: #808080;
}

.error{
font-size: 12px;
font-weight: 500;
line-height: 12px;
text-align: left;
color: #FD443A;
}

.option-list-1,
.close-1{
    bottom: 24px;
    right: 24px;
    display: flex;
    flex-direction: column;
    
}

.option-animate-show{
    /* bottom: 500px;
    right: 10px; */
    display: flex;
    justify-content: end;
    margin: 0 10px 20px 0;
}

.option-animate-close{
    bottom: 24px;
    right: 0px;
    display: flex;
    width: 95%;
    margin: 0 auto;
}

.option-list , .close {
   align-items: end;
}

.option-list .flex .removed,
.close .flex .renoved {
    display: none;
}

.anonymous{
    display: flex;
    gap: 5px;
    align-items: center;
font-size: 14px;
font-weight: 500;
line-height: 14px;
color: #4D4D4D;
}

.anonymous input{
    border: 1.5px solid #808080;
padding: 8px;
border-radius: 2px;

}

.form-container .flex .attach-sharefeedback {
    padding: 4px 10px 4px 4px;
    border-radius: 4px;
    background: #c7c7c7;
    font-size: 16px;
    font-weight: 500;
    line-height: 16px;
    display: flex;
    gap: 4px;
    align-items: center;
    color: #333333;
    position: absolute;
    top: 130px;
    left: 10px;
    border: none;
}

.form-container .flex .contact-input{
 
padding: 10px 12px 10px 12px;
border-radius: 4px 0px 0px 0px;
border: 1px solid #CCCCCC;
background: #E0E0E0;
}
.form-container .flex .contact-input::placeholder, .form-container .flex .report-issue-input::placeholder{
color: #808080;
}

.form-container .flex .report-issue-input{
padding: 10px 12px 10px 12px;
border-radius: 4px;
border: 1px solid #B3B3B3;
background-color: transparent;
font-size: 16px;
font-weight: 400;
line-height: 16px;
color: #0F0F0F;
}

.submit-buttons{
    display: flex;
    gap: 10px;
    align-items: center;
    justify-content: end;
    flex-grow: 1;
    position: relative;
}

@media screen and (min-width: 1024px) {
  .answer-container-flex .section-answer-frame {
        width: 66.5%;
    }
    .answer-container-flex .section-question-frame {
        width: 66.5%;
    }
    .answers-sortby{
        width: 66.5%;
    }
    
}

/* @media screen and (max-width: 1024px) {
    .section-answer-frame {
        width: unset;
    }
    .section-question-frame {
        width: unset;
    }
     
}*/

@media screen and (min-width: 768px) {
    .header-title span:nth-child(2) {
        padding: 6.66px 3.59px 6.66px 3.59px;
font-size: 24.6px;
font-weight: 600;
line-height: 15.14px;
letter-spacing: 2.049896001815796px;
text-align: center;

    }
    .header-title span:nth-child(1), .header-title span:nth-child(3){
        font-size: 24.6px;
        line-height: 15.14px;
        letter-spacing: 2.049896001815796px;
    }
    header .user-img {
        display: none;
        padding: 16px 20px 16px 20px;
    }
    header nav ul li {
        display: flex;
    }
    header nav ul li:nth-child(3) img {
        width: 50px;
        height: 50px;
    }
    nav ul {
        display: flex;
        align-items: center;
        gap: 20px;
    }
    nav ul li {
        display: flex;
        align-items: center;
    }
    nav ul li p {
        color: #fefefe80;
        font-size: 24px;
        font-weight: 600;
        line-height: 29.05px;
        margin-right: 5px;
    }
    nav ul li span {
        width: 15.63px;
        height: 8px;
    }
    .question-section {
        display: none;
    }
    .section {
        display: block;
    }
    .fab-messages p{
        z-index: 99;
    }
    .fab-parent{
        display: flex;
        flex-direction: column;
        align-items: end;
    }
.fab-mobile{
    box-shadow: 1px 1px 8px 0px #00000080;
    width: 52px;
    height: 52px;

}
    .fab-mobile-svg{
        display: none;
    }

    .fab-desktop-svg{
        display: block;
    }
    .option-list .flex button, .close .flex button{
        width: 52px;
        height: 52px;
        border-radius: 50%;
    }
    .option-animate-show{
        order: 1;
    }
    .overlay{
        display: none;
    }
    form{
        border-radius: 20px;
        box-shadow: -2px 4px 16px 0px #00000029;
padding: 24px 16px 24px 16px;
width: 430px;
margin: 0 10px 10px 0;
    }
    .section-answer-frame {
        width: unset;
    }
    .section-question-frame {
        width: unset;
    }
}
